$mobile-screen: 768px;
$desktop-screen: 1200px;
$wrapper: 1440px;
$product-width: 305px;
$product-width-mobile-main: 163px;
$product-gap-mobile-main: 16px;
$product-gap-main: 20px;
$product-main-max: 4;
$mobile-margin: 24px;
