.linked-in-icon {
    background-image: url("../img/Icons/linkediin.png");
}
.facebook-icon {
    background-image: url("../img/Icons/facebook.png");
}
.instagram-icon {
    background-image: url("../img/Icons/instagram.png");
}
.skype-icon {
    background-image: url("../img/Icons/skype.png");
}
.twitter-icon {
    background-image: url("../img/Icons/twitter.png");
}
.pinterest-icon {
    background-image: url("../img/Icons/pinterest.png");
}
