@import "../base/icons.scss";
@import "../base/variables.scss";
footer {
  background-color: $dark-primary;
  min-height: 380px;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > .wrapper {
    padding: 56px 82px 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (width <= 1280px) {
      padding: 40px 24px 20px;
    }
  }
  h4 {
    margin-bottom: 12px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    @media (width <= $mobile-screen) {
      direction: rtl;
      text-align: left;
      gap: 90px;
    }
    @media (width <= 420px) {
      direction: rtl;
      text-align: left;
      gap: 90px;
    }
  }
  article {
    &:nth-of-type(1),
    &:nth-of-type(3) {
      @media (width > $mobile-screen) {
        margin-right: 109px;
      }
    }
    &:nth-of-type(2) {
      @media (width > $mobile-screen) {
        margin-right: 133px;
      }
    }
    &.from-mail {
      flex: 1;
      display: flex;
      flex-direction: column;
      @media (width <= 1280px) {
        margin-top: 40px;
      }
      form {
        display: flex;
        input.email {
          flex: 1;
          background-color: rgba($color: $white, $alpha: 0.15);
          padding: 17px 32px;
          border: none;
          outline: none;
          color: $white;
          max-width: 354px;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          transition: 0.5s;
          &::placeholder {
            opacity: 1;
            color: $white;
          }
          &:focus {
            &::placeholder {
              color: $dark-primary;
              opacity: 0.2;
            }
            background-color: rgba($color: $white, $alpha: 0.5);
          }
        }
      }
      @media (width <= $mobile-screen) {
        margin-bottom: 16px;
      }
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    li {
      margin: 0;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      a {
        &:visited {
          color: $white;
        }
        &:active {
          color: $border-gray;
        }
      }
    }
  }
  .menu {
    display: flex;
    flex-wrap: wrap;
    @media (width > $mobile-screen) {
      margin-bottom: 48px;
    }
  }
  .copyright {
    p {
      font-size: 14px;
    }
    hr {
      border: none;
      border-top: 1px solid $primary;
      border-radius: 1px;
      margin-bottom: 24px;
    }
    & > div {
      display: flex;
      justify-content: space-between;
    }
    ul {
      display: flex;
      flex-direction: row;
      gap: 24px;
      li {
        width: 24px;
        height: 24px;
        a {
          background-repeat: no-repeat;
          background-size: cover;
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      @media (width <= $mobile-screen) {
        display: none;
      }
    }
  }
  @media (width <= $mobile-screen) {
  }
}
