@import "../base/colors.scss";
@import "../base/fonts.scss";
@import "../main.scss";
@import "../base/variables.scss";

body {
  background: $white;
}

.hero-blocks {
  position: relative;
  background-size: cover;
  figure {
    width: 100%;
    height: 704px;
    overflow: hidden;
    margin: 0;
    margin-top: 32px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    @media (width <= $mobile-screen) {
      height: 304px;
    }
  }
  section {
    position: absolute;
    top: 130px;
    right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 48px 61px 46px 56px;
    max-width: 630px;
    height: 444px;
    background: white;
    h1 {
      font-size: 32px;
      line-height: 140%;
      color: #22202e;
    }
    p {
      color: #5b5676;
      font-size: 18px;
      line-height: 150%;
    }
    @media (width <= $mobile-screen) {
      position: static;
      top: 0;
      right: 0;
      max-width: none;
      width: 100%;
      height: auto;
      padding: 0 25px 0;
      div {
        margin-bottom: 32px;
      }
      h1 {
        font-size: 24px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}
.features {
  margin: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 82px;
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 36px;
    display: flex;
    gap: 22px;
    h2,
    h3 {
      font-family: "ClashDisplay-Regular";
    }
    h2,
    h3,
    p {
      color: $dark-primary;
    }
    h2 {
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
    }
    article {
      display: flex;
      flex-direction: column;
      gap: 12px;
      width: 305px;
      height: 244px;
      background: $light-gray;
      padding: 48px;
      h3,
      p {
        margin: 0;
      }
      h3 {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
      }
      p {
        font-family: "Satoshi-Regular";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
      .icon {
        width: 24px;
        height: 24px;
        background-size: cover;
      }
      &.delivery {
        .icon {
          background-image: url("../img/Icons/Delivery.png");
        }
      }
      &.checkmark {
        .icon {
          background-image: url("../img/Icons/Checkmark-outline.png");
        }
      }
      &.purchase {
        .icon {
          background-image: url("../img/Icons/Purchase.png");
        }
      }
      &.sprout {
        .icon {
          background-image: url("../img/Icons/Sprout.png");
        }
      }
      @media (width <= $mobile-screen) {
        width: 100%;
        padding: 36px 24px;
        height: 196px;
      }
    }
  }
  @media (width <= $mobile-screen) {
    & > h2 {
      font-size: 20px;
      margin-right: 68px;
    }
    margin-top: 48px;
    margin-bottom: 50px;
  }
}
.listings {
  margin-top: 28px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > div {
    $i: $product-main-max;
    @while $i > 1 {
      @media (width <= $i * $product-width + ($i - 1) * $product-gap-main) {
        @if ($i * $product-width + ($i - 1) * $product-gap-main > $mobile-screen) {
          @if (($i - 2) >= 0) {
            max-width: ($i - 1) * $product-width + ($i - 2) * $product-gap-main;
          } @else {
            max-width: ($i - 1) * $product-width;
          }
        }
      }
      $i: $i - 1;
    }
    flex-wrap: wrap;
    display: flex;
    justify-content: left;
    gap: 20px;
    margin-bottom: 48px;
    @media (width <= $mobile-screen) {
      gap: 16px;
      $i: $product-main-max + 1;
      @while $i > 0 {
        @if (
          $mobile-screen < ($i + 1) * $product-width-mobile-main + $i * $product-gap-mobile-main + 2 * $mobile-margin
        ) {
          @if ($mobile-screen >= $i * $product-width-mobile-main + ($i - 1) * $product-gap-mobile-main) {
            max-width: ($i - 1) * $product-width-mobile-main + ($i - 2) * $product-gap-mobile-main;
          }
        }
        $i: $i - 1;
      }
      $i: $product-main-max + 1;
      @while $i > 1 {
        @media (width <= $i * $product-width-mobile-main + ($i - 1) * $product-gap-mobile-main + 2 * $mobile-margin - 1) {
          @if (($i - 2) >= 0) {
            max-width: ($i - 1) * $product-width-mobile-main + ($i - 2) * $product-gap-mobile-main;
          } @else {
            max-width: ($i - 1) * $product-width-mobile-main;
          }
        }
        $i: $i - 1;
      }
      article.product {
        width: $product-width-mobile-main;
        img {
          width: 100%;
          height: 201px;
        }
      }
    }
  }
  @media (width <= $mobile-screen) {
    margin-top: 24px;
  }
}
.features-2 {
  justify-content: center;
  display: flex;
  gap: 16px;
  margin: 60px 0;
  @media (width <= 1300px) {
    flex-wrap: wrap;
    gap: 24px;
  }
  section {
    color: $white;
    width: 634px;
    height: 478px;
    background-color: $dark-primary;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 64px 75px 54px 64px;
    h2 {
      font-family: "ClashDisplay-Light";
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @media (width <= $mobile-screen) {
        font-size: 20px;
      }
    }
    p {
      font-family: "Satoshi-Light";
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @media (width <= $mobile-screen) {
        font-size: 14px;
      }
    }
    button.view-collection {
      color: $white;
      background: rgba($color: $white, $alpha: 0.15);
      &:hover {
        background: rgba($color: $white, $alpha: 0.3);
      }
      &:active {
        background: rgba($color: $white, $alpha: 0.45);
      }
    }
    @media (width <= $mobile-screen) {
      width: 100%;
      height: 281px;
      padding: 36px 32px 30px;
    }
  }
  div.features-2-image {
    width: 630px;
    height: 478px;
    background-size: cover;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (width <= 1300px) {
      width: 634px;
    }
    @media (width <= $mobile-screen) {
      width: 100%;
      height: 259px;
    }
  }
  @media (width <= $mobile-screen) {
    margin-bottom: 32px;
  }
}
.email-sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 444px;
  .email-sign-up-content {
    margin-bottom: 40px;
  }
  figure {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  section {
    color: $white;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h2 {
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      margin-bottom: 12px;
      @media (width <= $mobile-screen) {
        font-size: 24px;
        text-align: left;
      }
    }
    p {
      margin-bottom: 30px;
      width: 470px;
      font-size: 18px;
      @media (width <= $mobile-screen) {
        width: auto;
        font-size: 14px;
        text-align: left;
        margin-bottom: 20px;
      }
    }
    ul {
      display: flex;
      gap: 60px;
      margin: 0;
      li {
        display: block;
        position: relative;
        text-align: left;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        &::before {
          content: "";
          position: absolute;
          top: 4px;
          left: -24px;
          display: inline-block;
          width: 16px;
          height: 16px;
          background-image: url("../img/Icons/Checkmark-filled.png");
          background-size: cover;
        }
      }
      @media (width <= $mobile-screen) {
        flex-direction: column;
        gap: 8px;
        margin: 0;
        padding-inline-start: 24px;
      }
    }
    form {
      display: flex;
      input[type="submit"] {
        background-color: $dark-primary;
        color: white;
        &:hover {
          background-color: color-mix(in srgb, $dark-primary 70%, black);
        }
        &:active {
          background-color: color-mix(in srgb, $dark-primary 50%, black);
        }
      }
    }
  }
  @media (width <= $mobile-screen) {
    height: 370px;
  }
}
@media (width <= $mobile-screen) {
  .margin-container {
    margin-left: $mobile-margin;
    margin-right: $mobile-margin;
  }
}
